.main {
  width: 90%;
  margin: auto;
}

.main header {
  color: white;
  font-size: 50px;
}

.project-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.notLoaded {
  opacity: 0;
}
