.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

body {
  background-color: black;
  font-family: "Raleway", sans-serif;
}

.show {
  height: 100%;
  margin-top: 20%;
}

.hide {
  height: 0;
  width: 0;
}

@media screen and (max-width: 500px) {
  .show {
    width: 100%;
    margin-top: 50%;
  }
}
